(**You can also open this notebook in Google Colab**)

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/xiangshiyin/data-programming-with-python/blob/main/2023-fall/2023-10-03/notebook/code_demo.ipynb)

# Question from last class

## Set data type of columsn with missing value

### The problem

In [1]:
import pandas as pd
import numpy as np

tb1 = pd.DataFrame({'key': ['foo', 'boo', 'foo'], 'lval': [1, 2, 3]})
tb2 = pd.DataFrame({'key': ['foo', 'coo'], 'rval': [5, 6]})

In [2]:
tb1

   key  lval
0  foo     1
1  boo     2
2  foo     3

In [3]:
tb2

   key  rval
0  foo     5
1  coo     6

In [4]:
outer_join = pd.merge(tb1, tb2, on='key', how='outer')
outer_join

   key  lval  rval
0  foo   1.0   5.0
1  foo   3.0   5.0
2  boo   2.0   NaN
3  coo   NaN   6.0

In [5]:
outer_join.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   key     4 non-null      object
 1   lval    3 non-null      float64
 2   rval    3 non-null      float64
dtypes: float64(2), object(1)
memory usage: 224.0+ bytes

In [6]:
pd.__version__

'2.1.1'

In [7]:
outer_join.lval.astype('int')

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

### Workarounds

Reference: 
- `df.astype()` function in detail: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.astype.html
- Stackoverflow: https://stackoverflow.com/questions/48511484/data-type-conversion-error-valueerror-cannot-convert-non-finite-values-na-or
- Nullable integer type: https://pandas.pydata.org/pandas-docs/stable/user_guide/integer_na.html#integer-na

In [8]:
outer_join.lval.fillna(-1).astype(int)

0    1
1    3
2    2
3   -1
Name: lval, dtype: int64

In [9]:
outer_join.lval.astype('Int64')

0       1
1       3
2       2
3    <NA>
Name: lval, dtype: Int64

In [10]:
outer_join.lval.astype(np.int64)

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

* Instead of asking "what could happen", try and break the code
* Research online and read documentations

# `dataframe` practice (continued)

In [12]:
import pandas as pd
import numpy as np

In [ ]:
Employees = pd.read_excel('../data/Employees.xls')
Territory = pd.read_excel('../data/SalesTerritory.xls')
Customers = pd.read_excel('../data/Customers.xls')
Orders = pd.read_excel('../data/ItemsOrdered.xls')